<div class="container">
    <!-- Main Category -->
    <div class="category-container">
        <p>Main Category</p>
        <div class="card-grid">
            <div class="category-card" *ngFor="let main of mainCategoryList"
                [class.active]="selectedMainCategory?.id === main.id">
                <p>{{ main.description }}</p>
            </div>
        </div>
    </div>

    <!-- Sub Category -->
    <div class="category-container" *ngIf="filteredSubCategories.length > 0">
        <p>Sub Category</p>
        <div class="card-grid">
            <div class="category-card" *ngFor="let sub of subCategoryList"
                [class.active]="selectedSubCategory?.id === sub.id">
                <p>{{ sub.description }}</p>
            </div>
        </div>
    </div>

    <!-- Cources -->
    <div class="courses-container">
        <h2>Our Courses:</h2>

        <div class="courses-grid">
            <div class="course-card" *ngFor="let course of coursesList">
                <div class="course-body">
                    <img [src]="getImagePath(course.photoPath)" alt="Course Image" class="course-img">
                    <div class="course-content">
                        <h3 class="course-title">{{ course.name }}</h3>

                        <div class="info-row">
                            <span class="label">Teacher:</span>
                            <span class="value">{{ course.teacher }}</span>
                        </div>

                        <div class="info-row">
                            <span class="label">About it:</span>
                            <p class="value description">{{ course.description }}</p>
                        </div>

                        <div class="info-row">
                            <span class="label">Main Category: </span>
                            <span class="value">{{ course.mainCategory }}</span>
                        </div>

                        <div class="info-row">
                            <span class="label">Sub Categories: </span>
                            <div class="sub-categories">
                                <span class="sub-category-tag" *ngFor="let subCat of course.subCategories">
                                    {{ subCat }}
                                </span>
                                <span *ngIf="!course.subCategories?.length" class="no-categories">
                                    No sub categories
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <a class="btn detailsBtn" [routerLink]="['/course', course.id]">More Details</a>
                </div>
            </div>
        </div>
    </div>


</div>