.add-category-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-category-container input {
    width: 70%;
}

.btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 5px 10px;
    margin-right: 10px;
}

.deleteBtn {
    background-color: var(--red-color);
}

.cards {
    margin-bottom: 10px;
}

.cardButton {
    margin-top: 10px;
}

.card-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    /* الافتراضي: بطاقة واحدة */
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 بطاقات للشاشات المتوسطة */
    }
}

@media (min-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
        /* 5 بطاقات للشاشات الكبيرة */
    }
}
