@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* متغيرات الوضع الافتراضي */
:root {
  --navbar-height: 60px;
  --logo-bg-color: #2c3e50;
  --sidebar-width: 250px;
  --sidebar-min-height: 500px;

  --blue-color: #2D9CDB;
  --white-color: #ffffff;
  --red-color: #d11a2a;
  
  --card-bg-color: #ffffff;
  --card-text-color:#4b5563;
  --main-text-color: #000000;
  --secondary-text-color: #6c757d;
  --border-color: #dee2e6;
  --hover-bg-color: #f8f9fa;
  --tag-bg-color: #e9ecef;
  --sub-tag-bg-color: #f8f9fa;
  --sub-tag-text-color: #495057;

}

/* الوضع الليلي: إعادة تعريف المتغيرات */
body.dark-mode {
  --logo-bg-color: #001c27;
  --drawer-bg-color: #141A2F;
 --card-color:#4b5563;
 --card-text-color: #f3f4f6;
   --card-bg-color: #1e1e1e;
  --main-text-color: #e0e0e0;
  --secondary-text-color: #aaaaaa;
  --border-color: #333333;
  --hover-bg-color: #2c2c2c;
  --tag-bg-color: #2a2a2a;
  --sub-tag-bg-color: #2f2f2f;
  --sub-tag-text-color: #cccccc;
  --white-color: #ffffff;
}

/* القواعد العامة */
html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--card-bg-color);
  color: var(--main-text-color);
}

.logo {
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
}
.logo:hover {
  color: var(--blue-color);
}

.sectionTitle {
  color: var(--blue-color);
}
.sectionText {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

app-search-bar {
  width: 100%;
}

.main-layout {
  min-height: 100vh;
  display: flex;
}
.content-wrapper {
  flex: 1;
  display: flex;
}

button {
  -webkit-tap-highlight-color: transparent;
}

/* الشبكة */
.cards-grid {
  display: grid;
  gap: var(--card-gap);
  padding: var(--card-gap);
}
@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

/* البطاقات */
.card {
  color: var(--main-text-color);
  background: var(--card-color);
  border-radius: var(--card-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


small{
  color: var(--main-text-color);
}
/* تحسينات */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}
body.sidebar-open {
  overflow: hidden;
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
  }
}
