@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
    --blue-color:#2D9CDB;
    --white-color:#fff;
    --logo-bg-color:#001c27;
    --drawer-bg-color:#141A2F;
}
<<<<<<< HEAD
.sectionTitle{
    color: var(--blue-color);
}
/* @media (max-width: 480px) {
    body{
        width: 100%;
    }
  } */
  .sectionText {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}
=======
body {
    background-color: white;
    color: black;
  }
  
  /* الوضع الداكن (Dark Mode) */
  body.dark-mode {
    background-color: black;
    color: white;
  }
>>>>>>> 7bdfd329cdeab81cd1b8dbf07ca0931657b0726b
