.infoContainer {
  align-items: center;
  border: 1px solid #ddd;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itemLine {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.itemLine input,
select {
    height: 3rem;
    border: none;
    flex: 1;
    margin-bottom: 20px;
}

.itemLine button {
    margin-top: 20px;
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.saveBtn{
    background-color: var(--blue-color);
  }
  .saveBtn:hover {
    background-color: #0056b3;
  }
.deleteBtn {
    background-color: var(--red-color);
  }
  
  .deleteBtn:hover {
    background-color: #db0d1e;
  }

.cancelBtn {
    background-color: #929292;
}

span {
    color: var(--blue-color);
    cursor: pointer;
}


/* ///////////// */
.student-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: block;
    margin: 10px auto;
}