<div class="infoContainer">
    <div [formGroup]="teacherForm" ngForm="teacherForm">
        <div class="">
            <div class="itemLine">
                <label for="">{{teacherToEdit.firstName }} Profile</label>
                <img [src]="getImageSource(teacherToEdit.profileImage)" alt="Profile Picture" class="student-img" />
            </div>
            <div class="itemLine">
                <label>First Name:</label>
                <input [(ngModel)]="teacherToEdit.firstName" [disabled]="isFirstNameDisabled"
                    [ngModelOptions]="{standalone: true}" placeholder="{{teacherToEdit.firstName}}" class="inputTool"
                    required>
                <span (click)="toggleFirstNameEdit()">Edit</span>
            </div>
            <div class="itemLine">
                <label>Last Name: </label>
                <input [(ngModel)]="teacherToEdit.lastName" [disabled]="isLastNameDisabled"
                    [ngModelOptions]="{standalone: true}" placeholder="Last Name" class="inputTool" required>
                <span (click)="toggleLastNameEdit()">Edit</span>
            </div>
            <div class="itemLine">
                <label>Password: </label>
                <input [disabled]="isPasswordDisabled" [(ngModel)]="teacherToEdit.password"
                    [ngModelOptions]="{standalone: true}" type="password" placeholder="Password" class="inputTool"
                    required>
                <span (click)="togglePasswordEdit()">Edit</span>
            </div>
            <div class="itemLine">
                <label>Email: </label>
                <input [(ngModel)]="teacherToEdit.email" [disabled]="isEmailDisabled"
                    [ngModelOptions]="{standalone: true}" placeholder="E-Mail" class="inputTool" required type="text">
                <span (click)="toggleEmailEdit()">Edit</span>
            </div>
            <div class="itemLine">
                <label>Phone: </label>
                <input [(ngModel)]="teacherToEdit.phone" [disabled]="isPhoneDisabled"
                    [ngModelOptions]="{standalone: true}" placeholder="phone" class="inputTool" required type="text">
                <span (click)="togglePhoneEdit()">Edit</span>
            </div>

            <div class="itemLine">
                <button class="saveBtn" type="submit" (click)="updateClick()">Save</button>
                <button class="deleteBtn" type="submit" (click)="deleteTeacher(teacherToEdit.id)">Delete</button>
                <button class="cancelBtn" type="submit" routerLink="/admin/teachers">Cancel</button>
            </div>
        </div>
    </div>
</div>