/* main container */
.infoContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.saveBtn,
.cancelBtn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveBtn:hover {
    background-color: var(--blue-color);
}

.cancelBtn {
    background-color: var(--red-color);
    margin-left: 10px;
}

.cancelBtn:hover {
    background-color: var(--red-color);
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
small{
    color: var(--main-text-color);
}
/* تطبيق تغييرات للشاشات التي حجمها أقل من 768 بكسل */
@media (max-width: 768px) {
    .infoContainer {
        padding: 15px;
    }
/* 
    .itemLine {
        flex-direction: column;
        align-items: flex-start;
    }

    .itemLine label,
    .itemLine input {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
    }

    .saveBtn,
    .cancelBtn {
        width: 100%;
        margin: 5px 0;
    }
    
    .itemLine span {
        margin-left: 0;
    } */
}