.heroSection {
    background-color: var(--hero-bg);
    color: var(--hero-text);
    width: 100%;
    height: auto;
  }
  
  .hero h1,
  .hero h3,
  .hero p {
    color: var(--hero-text);
  }
  
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 480px) {
    .heroSection{
        width: 100%;
    }
    .heroImg {
        display: none;
    }
}

.p .heroSection>Div {
    text-align: start;
    padding-left: 70px;
}

.hero h1 {
    padding-bottom: 10px;
}
.hero h1:hover{
color: var(--blue-color);
}

.hero button {
    background-color: rgb(255, 136, 0);
    color: var(--white-color);
    padding: 10px 30px;
    border-radius: 30px;
}

.heroImg img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
:root {
    --hero-bg: rgb(245 248 250);
    --hero-text: var(--main-text-color);
  }
  
  body.dark-mode {
  
  --hero-bg: var(--drawer-bg-color);
    --hero-text: var(--main-text-color);

  }
  