.heroSection {
    --tw-bg-opacity: 1;
    background-color: rgb(245 248 250 / var(--tw-bg-opacity));
    width: 100%;
    height: auto;
    /* color: var(--blau-color); */
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 480px) {
    .heroSection{
        width: 100%;
    }
    .heroImg {
        display: none;
    }
}

.p .heroSection>Div {
    text-align: start;
    padding-left: 70px;
}

.hero h1 {
    padding-bottom: 10px;
}
.hero h1:hover{
color: var(--blue-color);
}
.hero button {
    background-color: rgb(255, 136, 0);
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
}

.heroImg img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}