<div class="mb-3">
    <div class="input-group">
      <input 
        [type]="isPasswordVisible ? 'text' : 'password'" 
        class="form-control" 
        [placeholder]="placeholder"
        [(ngModel)]="password"
        (input)="onChange(password)"
        (blur)="onTouched()"
      />
  
      <!-- زر إظهار/إخفاء كلمة المرور -->
      <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility()">
        <i *ngIf="isPasswordVisible" class="bi bi-eye-slash"></i>
        <i *ngIf="!isPasswordVisible" class="bi bi-eye"></i>
      </button>
  
      <!-- زر توليد كلمة مرور جديدة -->
      <button *ngIf="showGenerate" type="button" class="btn btn-outline-primary" (click)="generateRandomPassword()">
        Generate
      </button>
    </div>
  </div>
  