<div class="formContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <i class="bi bi-book me-2 logo"> Skill Wave</i>
        <div class="input-container">
            <input type="email" 
                   id="email" 
                   formControlName="email" 
                   placeholder=" " 
                   required>
            <label for="email">E-Mail</label>
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error-message">
                <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
                <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</small>
            </div>
        </div>

        <div class="input-container">
            <input type="password" 
                   id="password" 
                   formControlName="password" 
                   placeholder=" " 
                   required>
            <label for="password">Password</label>
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
            </div>
        </div>

        <div class="btn-submit">
            <button type="submit" [disabled]="loginForm.invalid || isLoading">
                {{ isLoading ? 'Logging in...' : 'Login' }}
            </button>
            <button type="button" routerLink="/register">New With US</button>
        </div>

        <div class="text-center p-t-12">
            <span class="txt">Forgot</span>
            <a class="txt" routerLink="/forgot-password">Username / Password?</a>
        </div>
    </form>
</div>

Z$zH^b$z45!L11