.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.clear-filter-btn {
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--card-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  border: none;
  color: var(--main-text-color);
}

.roll-card:hover,
.clear-filter-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.2);
}

.roll-card.active {
  border: 2px solid var(--blue-color);
  background-color: #e9f3ff;
}

.roll-card p {
  margin: 0;
}

@media (max-width: 768px) {
  .card-grid {
    gap: 1rem;
  }

  .roll-card {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .roll-card {
    max-width: 100%;
  }
}

.roll-card {
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--card-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card p,
.card span {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}

p span {
  font-weight: 600;
}

.cardButton {
  display: flex;
  justify-content: space-around;
}

.editBtn,
.deleteBtn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: var(--red-color);
}

.deleteBtn:hover {
  background-color: #db0d1e;
}


/* start pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 25%;
}

.pagination-controls :disabled {
  display: none;
}

/* end pagination */

.student-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: block;
  margin: 10px auto;
}

@media (min-width: 769px) and (max-width: 1024px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}


.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card p,
.card span {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}

p span {
  font-weight: 600;
}

.cardButton {
  display: flex;
  justify-content: space-around;
}

.editBtn,
.deleteBtn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: var(--red-color);
}

.deleteBtn:hover {
  background-color: #db0d1e;
}


/* start pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 25%;
}

.pagination-controls :disabled {
  display: none;
}

/* end pagination */

.student-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: block;
  margin: 10px auto;
}

@media (min-width: 769px) and (max-width: 1024px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);

  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 25px;
  margin-bottom: 10px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  /* border: 2px solid #007bff; */
  transition: transform 0.2s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.1);
}