<div class="input-group mb-3">
  <app-search-bar placeholder="Search by First Name, Last Name, or Email" (searchTextChanged)="updateSearch($event)"></app-search-bar>
</div>
<div class="roll-container">
  <div class="card-grid">
      <button class="clear-filter-btn" (click)="clearFilter()">All</button>
      <div class="roll-card" *ngFor="let roll of rollNumbers"
          [class.active]="filteredUsers === roll"
          (click)="selectRoll(roll)">
          <p>{{ roll }}</p>
      </div>
  </div>
</div>

<p>Total Students: {{filteredStudents.length}}</p>

<div class="container">
<div class="card" *ngFor="let student of displayedStudents">
  <div class="card-body">
    <img [src]="getImagePath(student.photoPath)" 
         [alt]="student.firstName + '\'s profile picture'"
         class="student-img"
         (error)="handleImageError($event)"/>
         
    <p><strong>First Name:</strong> {{ student.firstName }}</p>
    <p><strong>Last Name:</strong> {{ student.lastName }}</p>
    <p class="email"><strong>Email:</strong> {{ student.email }}</p>
    <p><strong>Phone Nr.:</strong> {{ student.phone }}</p>

    <div class="cardButton">
      <button class="btn editBtn" [routerLink]="'/admin/editstudent'" [queryParams]="{ id: student.id }">
        <i class="bi bi-pencil-square"></i> Edit
      </button>
      <button class="btn deleteBtn" (click)="deleteStudent(student.id)">
        <i class="bi bi-trash3"></i> Delete
      </button>
    </div>
  </div>
</div>
</div>

<app-pagination-control 
[items]="filteredStudents"
[itemsPerPage]="12"
(paginatedItems)="onPaginatedData($event)">
</app-pagination-control>