<div class="formContainer" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">    
      <form (ngSubmit)="setPassword()">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Please Enter New Password</h5>
        </div>
        <div class="input-container">
          <input class="password"  name="password" id="" placeholder="Password" required>

          <input class="confirm" name="password" id="" placeholder="Confirm" required>
        </div>
        <div class="btn-submit">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>  