.formContainer{
  margin-top: 40px;
  margin-bottom: 40px;
}
form {
  text-align:center ;
  background-color: white;
  padding: 20px;
  max-width: 550px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form i{
  display: block;
  margin-bottom: 10px;
  font-size: xx-large;
}
.input-container {
  position: relative;
  margin-bottom: 15px;
}
.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;    
  height: 50px;

}
.input-container label {
  position: absolute;
  left: 10px;
  top: 13px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: #999;
  transition: 0.2s;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: var(--blue-color);
  height: 20px;
}
input[type="submit"] {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 75%;
}
input[type="submit"]:hover {
  background-color: var(--blue-color);
}
button{
  margin-top: 20px;
  background-color: #ccc;
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 75%;
}
.input-container input:focus {
border-color:var(--blue-color); 
outline: none;
}
