<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
    class="sidebar-toggle d-lg-none"
    (click)="toggleSidebar()"
    [class.active]="isSidebarOpen$ | async">
    <i class="bi" [ngClass]="(isSidebarOpen$ | async) ? 'bi-x' : 'bi-list'" *ngIf="!userLoggedIn"></i>
  </button>
  

    <i class="bi bi-book me-2 logo" routerLink=""> Skill Wave</i>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 me-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="all-courses" >Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex me-2" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <i class="bi bi-search"></i>
      </form>
      <a class="nav-link" *ngIf="!currentUser" routerLink="login">Login</a>

      <!-- <li>Login</li> -->
      <div *ngIf="currentUser" class="btn-group dropstart">

        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="currentUser.photoPath" alt="Profile Image" class="rounded-circle" width="30" height="30">
        </button>
        <ul class="dropdown-menu mt-4">
          <li class="dropdown-item">Wlcome {{currentUser.firstName}}</li>
          <li> <a class="dropdown-item" routerLink="update/info">Profile</a></li>
          <li><a class="dropdown-item" href="#">Dashboard</a></li>
          <li><a class="dropdown-item" href="#">Notifications</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="''" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>