.navbar {
  background-color: var(--logo-bg-color);
  color: #fff;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .navbar{
      width: 100%;
  }
}

form {
  justify-self: center;
  width: 90%;
  justify-content: end;
  position: relative;
}

form input {
  border-radius: 0;
}

form i {
  cursor: pointer;
  color: var(--blue-color);
  position: absolute;
  padding: 7px;
}

form i:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.navbar-nav .nav-link,
.nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.navbar-toggler {
  background-color: #fff;
}
.open{
  display: block;
}
.dropdown-menu{
  width: fit-content;
}