.navbar {
  background-color: var(--logo-bg-color);
  color: #fff;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
}

.logo:hover {
  color: var(--blue-color)
}

form {
  justify-self: center;
  width: 90%;
  justify-content: end;
  position: relative;
}

form input {
  border-radius: 0;
}

form i {
  cursor: pointer;
  color: var(--blue-color);
  position: absolute;
  padding: 7px;
}

form i:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.navbar-nav .nav-link,
.nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.navbar-toggler {
  background-color: #fff;
}
.open{
  display: block;
}
.dropdown-menu{
  /* background-color: red; */
  /* justify-content: start; */
  width: fit-content;
  /* margin-right: 300px; */
}