<div class="formContainer" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form (ngSubmit)="sendPasswordForget()">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Forgot Password</h5>
      </div>
      <div class="input-container">
        <input name="email" id="email" placeholder=" " [(ngModel)]="email">

        <label for="email">Please enter your Email</label>
      </div>
      <div class="btn-submit">
        <button type="submit">Send Code</button>
      </div>
    </form>
  </div>
</div>