<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="searchText" (input)="updateSearch()"
    placeholder="Search by Course Name, Teacher Name">
</div>
<div class="container">
  <div class="card" *ngFor="let course of filteredCourses">

    <div class="card-body">
      <img [src]="getImagePath(course.courseImage)" alt="Profile Picture" class="student-img" />
      <p><strong>Course:</strong> {{ course.name }}</p>
      <p><strong>Description:</strong> {{ course.description }}</p>
      <p><strong>Teacher:</strong> {{ course.teacher }}</p>
      <p><strong>Main Categorry:</strong> {{ course.mainCategory }}</p>
      <p><strong>Sub Categorry:</strong> {{ course.subCategory }}</p>

      <div class="cardButton">
        <button class="btn editBtn" [routerLink]="['/admin/editcourse', course.id]">
          <i class="bi bi-pencil-square"></i> Edit
        </button>

        <button class="btn deleteBtn" (click)="deleteUserClick(course.id)">
          <i class="bi bi-trash3"></i>Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- pagination controls -->
<app-pagination-control [items]="filteredCourses" [itemsPerPage]="9" (paginatedItems)="onPaginatedData($event)">
</app-pagination-control>