<div class="userSidebar">
    <h3>Welcome {{userToEdit.lastName}}</h3>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="info" class="nav-link " aria-current="page">
                Your Info
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link " aria-current="page">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link " aria-current="page">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link " aria-current="page">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link " aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Customers
            </a>
        </li>
    </ul>
    <hr>
</div>
<div class="mangeSide col-8"></div>