<nav class="sidebar" [class.active]="isOpen$ | async">
    <div class="sidebar-header">
      <h3>Welcome {{userToEdit.lastName}}</h3>
      <button class="close-btn" (click)="closeNav()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  
    <ul class="nav-menu">
      <li class="nav-item">
        <a [routerLink]="['/update/info']" routerLinkActive="active" (click)="onLinkClick()">
          <i class="bi bi-people"></i>
          <span>Your Info</span>
        </a>
      </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/update/my-cources']" (click)="onLinkClick()">
            <i class="bi bi-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" (click)="onLinkClick()">
            <i class="bi bi-grid"></i>
            <span>Main Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a  routerLinkActive="active" (click)="onLinkClick()">
            <i class="bi bi-diagram-3"></i>
            <span>Sub Category</span>
          </a>
        </li>
      </ul>
    </nav>