/* start sidebar */
h3{
    text-align: center;
}
ul {
    background-color: var(--logo-bg-color);
    ;
    text-align: center;
}

li {
    margin: 10px;
}

li:active,
li:hover {
    background-color: var(--blue-color);
}

li a {
    align-items: center;
    color: var(--white-color);
}
/* end sidebar */