<div class="lsatSection sectionPaddingY">
    <div class="container contentContainer">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="imgContainer"><img loading="lazy" class="sectionImg" src="/assets/photo/background/section.svg">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="content">
                    <h2 class="title">School Education Resources</h2>
                    <p class="description">
                        Skill Wave platform for school education provides free educational materials in English to
                        support school students of all ages.
                    </p><a class="linkComponent" href="">
                        <button
                            class="btnWhite">Visit the school education platform
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</div>