<div class="k12Section sectionPaddingY">
    <div class="container contentContainer">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="k12ImgContainer">
                    <img loading="lazy" class="k12Img" alt="K-12" src="assets/background/hero.png">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="k12Content">
                    <h2 class="k12Title">موارد التعليم المدرسي</h2>
                    <p class="k12Description">توفّر منصة إدراك للتعليم المدرسي مواد تعليمية مجانية باللّغة العربية لدعم
                        طلبة المدارس من جميع الفئات العمرية.</p><a class="linkComponent"
                        href="https://www.edraak.org/k12/"><button
                            class="btn edraakBtn btn-primary btn-rounded btn-wide edraakBtnWhite">تفضّل بزيارة منصة
                            التعليم المدرس</button></a>
                </div>
            </div>
        </div>
    </div>
</div>